.history {
  background-color: bisque;
  min-width: 375px;
  width:100vw;
  height:100vh;
}
.history__top-panel{
  background-color: #c88b46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:5rem;
}

.history__chart-container{
  width:100%;
  height:calc(100% - 5rem)
}